body {
    font-family: Arial, sans-serif;
    padding: 10px;
  }
  
  #art-container {
    text-align: center;
    margin-bottom: 10px;
  }
  
  #missal-art {
    max-width: 100%;
    height: auto;
  }
  
  #reading-container {
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: blue;
  }
  